.create-room__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.create-room__form {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 10px;
}

.create-room__input {
	border: none;
	outline: none;
	border-bottom: 2px solid #01d293;
	font-size: 18px;
}
.create-room__label {
	font-size: 14px;
	font-weight: 500;
	color: #696868;
	margin-bottom: 10px;
}

.create-room__title {
	color: #242424;
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 10px;
}

.create-room__error__wrapper {
	width: 100%;
	margin: 10px 0;
}

.create-room__error__msg {
	color: rgb(255, 48, 48);
}

.create-room__success {
	color: #33ef97;
}

.create-room__btn {
	box-shadow: 0px 1px 0px 0px #f0f7fa00;
	background: linear-gradient(to bottom, #33ef97 5%, #06b882 100%);
	border-radius: 0;
	border: none;
	display: inline-block;
	cursor: pointer;
	color: #242424;
	font-family: Arial;
	font-size: 16px;
	font-weight: 600;
	padding: 6px 24px;
	text-decoration: none;
	width: 100%;
	height: 40px;
	margin-top: 20px;
}

.create-room__btn:active {
	position: relative;
	top: 2px;
}

.create-room__link {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	color: #ffff;
	width: 100%;
}

.create-room__link > button {
	text-decoration: none;
	background-color: transparent;
	border: none;
	cursor: pointer;
}
