.star-msg__container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.star-msg__content {
	background-color: #a6f859;
	width: max-content;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px 15px;
	border-radius: 15px;
	gap: 10px;
}
.star-msg__room {
	font-weight: 600;
	font-size: 1rem;
}
.star-msg__text {
	font-weight: 500;
	font-size: 1rem;
}
