.friend-list__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 20px;
}

.friend-list__title {
	color: #242424;
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 10px;
}

.friend-list_view {
	display: flex;
	width: 100%;
	padding: 10px 0;
	align-items: center;
	border-bottom: 1px solid #01d293;
	margin-bottom: 20px;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
}

.friend-list_view__info {
	flex: 1;
	text-transform: capitalize;
	text-align: center;
	display: flex;
	justify-content: space-between;
}

.friend-list_name {
	display: flex;
	align-items: center;
	color: #242424;
	font-size: 16px;
	font-weight: 600;
	padding: 0;
}
.group_icon {
	margin-left: auto;
	color: #636363;
	cursor: pointer;
}
.group_icon:hover {
	color: #01d293;
}
.delete_icon {
	margin-left: 15px;
	color: #636363;
	cursor: pointer;
}
.delete_icon:hover {
	color: #d20101;
}

.avatar {
	flex: 0.3;
	position: relative;
	z-index: 1;
}
.friend-list_online {
	position: absolute;
	background: #01d293;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: 1px solid #fff;
	z-index: 2;
	bottom: 32px;
	left: -1px;
}
